@import "tailwindcss";

@theme {
	--color-dark-50: #fafafa;
	--color-dark-100: #f5f5f5;
	--color-dark-200: #e5e5e5;
	--color-dark-300: #d4d4d4;
	--color-dark-400: #a3a3a3;
	--color-dark-500: #737373;
	--color-dark-600: #525252;
	--color-dark-700: #404040;
	--color-dark-800: #262626;
	--color-dark-900: #171717;
	--color-dark-950: #0a0a0a;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.animate-spin {
	animation: spin 1s linear infinite;
}
